.wrapper {
    position: relative;
    user-select: none;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    margin-top: 16px;
    padding: 8px 0;
    margin-bottom: 8px;
    border-radius: 4px;
}

.product-card {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 32px;
    width: 40%;
}

.tick-product {
    display: none; /* Ẩn checkbox gốc */

    + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        height: 20px;
        display: inline-block;
        line-height: 20px;
    }

    + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #aaa;
        background-color: #fff;
    }

    &:checked + label:before {
        background-color: var(--primary); /* Thay đổi màu nền khi được chọn */
        border-color: var(--primary); /* Thay đổi màu viền khi được chọn */
    }

    &:checked + label:after {
        content: '\2714'; /* Unicode cho dấu tích */
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        bottom: 100%;
        color: #fff;
        background-color: var(--primary);
        padding: 1px; /* Tạo khoảng cách giữa dấu tích và viền checkbox */
        border-radius: 2px; /* Bo góc cho dấu tích */
    }
}

.product-summary {
    display: flex;
    align-items: center;
}

.product-detail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.unit-price {
    font-size: 1.4rem;
    width: 25%;
    text-align: center;
    color: #888;
}

.quantity {
    font-size: 1.4rem;
    width: 25%;
    text-align: center;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        display: inline-block;
        width: 20px;
    }
}

.price {
    font-size: 1.4rem;
    width: 25%;
    text-align: center;
    color: #888;

    span {
        color: var(--primary);
    }
}

.operation {
    font-size: 1.4rem;
    width: 25%;
    text-align: center;
    color: #888;

    span {
        cursor: pointer;
        color: var(--primary);
    }
}

.product-img {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-name {
    font-size: 1.4rem;
    padding-left: 8px;
    flex: 1;
}

.cost {
    text-decoration: line-through;
    margin-right: 8px;
}

.promotional-price {
    color: #000;
}

.icon {
    cursor: pointer;
    color: var(--default);
    padding: 8px;
}

.icon-ban {
    color: #ccc;
    cursor: default;
}

.payment {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px 16px 32px;
    background-color: #fff;
    margin: 16px 0;
}

.payment-select {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.payment-summary {
    flex: 1;
    padding-left: 8px;
}

.delete {
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        color: var(--primary);
    }
}

.payment-total {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

.total {
    width: 50%;
    span {
        color: var(--primary);
    }
}

.buy-btn {
    background-color: var(--default);
    color: var(--white);
    padding: 8px;
    border-radius: 4px;
    transition: all 0.2s ease;

    &:hover {
        cursor: pointer;
        background-color: var(--default-bold);
    }
}
