.wrapper {
    position: relative;
    user-select: none;
}

.container {
    width: 100%;
}

:global {
    .custom-tab {
        .nav-link {
            color: var(--black); // Màu chữ của tab chưa chọn

            &.active {
                color: var(--primary) !important; // Màu chữ của tab đã chọn
            }

            &:hover {
                color: var(--primary); // Màu chữ khi di chuột qua tab
            }
        }
    }
}
